.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.grid-item {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s;
  cursor: pointer;
}

.grid-item:hover {
  transform: scale(1.05);
}

.item-nombre {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.item-asignatura {
  font-size: 1rem;
  color: #666;
  margin-top: 0.5rem;
}

.item-nota {
  font-size: 1rem;
  color: #59c4e1; /* Un color verde para la nota */
  margin-top: 0.5rem;
  font-weight: bold;
}
