.header {
    width: 100%;
    background-color: #282c34;
    height: 8vh;
}
.ms-auto{
    margin-right: 25px !important;
}
.navbar {
    background-color: #282c34;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2361dafb' viewBox='0 0 30 30'%3E%3Cpath stroke='%2361dafb' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas {
    width: 50%;
}

.nav-link {
    color: #61dafb;
    padding: 0.5rem 1rem;
    display: block;
    font: bold;
}

.nav-link:hover {
    color: white;
}

.nav {
    width: 100%;
}

.menu-link {
    font-size: 1rem; /* O el tamaño que prefieras */
  }
  
