.navbar {
  background-color: #021c36;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 10vh;
}
.ms-auto {
  margin-right: 25px !important;
}

.nav-link:hover {
  color: #3399cc;
}

.container-inicio:hover {
  background-color: #3399cc;
}

.menu-link {
  font-size: 1.2rem; /* O el tamaño que prefieras */
  color: white;
}

.logo {
  background-image: url(./media/logo\ utem.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 225px;
  margin-left: 10px;
}
