.admin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Suaviza las esquinas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: #fff; /* Fondo blanco para que la sombra se vea mejor */
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80%;
}

.btn:hover {
    background-color: #0056b3;
}


.reset-password {
    margin-top: 20px;
    color: #007bff;
    cursor: pointer;
}

.reset-password:hover {
    text-decoration: underline;
}
